// fonts
$font-family:'Montserrat',sans-serif;
$font-weight-light:     300;
$font-weight-book:      normal;
$font-weight-medium:    500;
$font-weight-bold:      bold;
$font-weight-black:     600;

// colours
$black: #000000;
$red: #FF0000;
$nav-bg: #0F0F0F;
// $even-header: #1c233c;
// $odd-header: #1f2e49;
// $white: #ffffff;
// $headers: #181f33;
// $logo-gradient: linear-gradient(#c80000,#960000);
// $h-two: linear-gradient(90deg,#0a73a8, #00a0e3);
// $h-three: linear-gradient(90deg,#e07900, #ffae20 );
// // gradients
// $header-gradient: linear-gradient(134deg, #38098c 12%, #8327c7 100%);
