// fonts
$font-family:'Montserrat',sans-serif;
$font-weight-light:     300;
$font-weight-book:      normal;
$font-weight-medium:    500;
$font-weight-bold:      bold;
$font-weight-black:     600;

// colours
$black: #0F0F0F;;
$red: #FF0000;
$nav-bg: #0F0F0F;
$yellow: #F9BC04;

//Flag Colors
$f-red: #E03C30;
$f-yellow: #F9B81C;
$f-green: #227649;
$f-blue: #0B1589;


$flag-gradient: linear-gradient(
        45deg,
        #fff 16.666%,
        $f-red 16.666%,
        $f-red 33.333%,
        $f-yellow 33.333%,
        $f-yellow 50%,
        $f-green 50%,
        $f-green 66.666%,
        $f-blue 66.666%,
        $f-blue 83.333%,
        #fff 83.333%);

// $even-header: #1c233c;
// $odd-header: #1f2e49;
// $white: #ffffff;
// $headers: #181f33;
// $logo-gradient: linear-gradient(#c80000,#960000);
// $h-two: linear-gradient(90deg,#0a73a8, #00a0e3);
// $h-three: linear-gradient(90deg,#e07900, #ffae20 );
// // gradients
// $header-gradient: linear-gradient(134deg, #38098c 12%, #8327c7 100%);
