main.songs {
    display: flex;
    flex-direction: column;
    // padding-left: 10px;
    position: relative;
    overflow: scroll;
    .header {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        padding: 0 2rem;
        background: $black;
        z-index: 9;
        &.isclear {
            background: none;
            -webkit-backdrop-filter: blur(40.6833px);
            backdrop-filter: blur(40.6833px);
        }

        p {
            color: #fff;
        }
        h1{
            margin: 0 2rem;
            z-index: 9;
            &.ismoving {
                font-size: 4rem;
                font-weight: $font-weight-light;
                animation: infinity 30s ease-in-out  infinite;
            }
            sup {
                font-weight: $font-weight-bold;
            }
        }
        @keyframes infinity {
            0% {
                transform: translateX(-150%);
            }
            100% {
                transform: translateX(250%);
            }
        }
        .top-five {
            display: flex;
            .thumb {
                display: block;
                border-radius: 2.7rem;
                width: 4.6rem;
                height: 4.6rem;
                margin-right: 2rem;
                position: relative;
                z-index: -1;
                &::after {
                    content: "";
                    display: block;
                    background: green;
                    width: 5rem;
                    height: 5rem;
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid $red;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                }
            }

        }
        form {
            width: 50%;
            position: relative;
            input {
                padding: 0 2rem 0 5rem;
                border: 1px solid $red;
                border-radius: 2.7rem;
                background: transparent;
                color: #fff;
                width: 50%;
                height: 50px;
                font-size: 1.5rem;

            }
            button {
                position: absolute;
                left: 6px;
                top: 11%;
                width: 38px;
                height: 38px;
                border: none;
                border-radius: 50%;
                background: $red;
            }
        }

    }

    .songs-wrapper {
        padding-top: 72px;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        display: flex;
        position: absolute;
        // transform: rotate(-15.97deg);
        // overflow: scroll;
        overflow-x: hidden;

        flex-wrap: wrap;
        transition: all ease-in-out .35s;
        // &:hover {
        //     transform: rotate(0deg);
        // }

        .song{
            // background-color: aqua;
            max-width: 257px;
            max-height: 340px;
            height: 100%;
            width: 100%;
            margin: 10px;
            img {
                border-radius: 27px;
                height: 257px;
                width: 257px;
                max-width: 257px;

            }
            h3 {
                font-size: 1.5rem;
            }
        }

    }


}